table[id="maquette"]
{
	border-collapse: collapse; 
}

#maquette td, #maquette th
{
	border: 0.1em solid black;
}

table[id="informations"]
{
	border-collapse: separate; 
	border-spacing: 3em 0.1em;
}

.uf
{
	background-color: silver;
}